<html ng-app="Reproductor">

<head>
    <title>Reproductor Musical</title>
    <link rel="stylesheet" href="estilos/estilos.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <script src="codigo/app.js"></script>
</head>

<body ng-controller="ControladorReproductor">
    <div class="principal">
        <h1>Reproductor de M&uacute;sica</h1>
        <div class="artistas">
            <div class="listaArtistas">
                <h2>Artistas</h2>
                <ul>
                    <li ng-repeat="artista in artistas" ng-click="seleccionarArtista(artista)">
                        {{ artista.Nombre }}
                    </li>
                </ul>
            </div>
            <div class="listaCanciones">
                <h2 ng-if="artistaSeleccionado!=''">Canciones de {{ artistaSeleccionado }}</h2>
                <ul>
                    <li ng-repeat="cancion in canciones" ng-click="seleccionarCancion(cancion)">
                        {{ cancion.Titulo }}
                    </li>
                </ul>
            </div>
        </div>
        <div class="reproductor">
            <h3>Reproduciendo ahora</h3>
            {{ cancionSeleccionada }}
        </div>
    </div>


</body>

</html>